* {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content {
    background-color: black;
    float: left;     
}
.block {
    margin: 50px 20px 40px 20px;
    border-radius: 20px;
    width: 97%; height: 1100px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 10px;        
}
.block:hover {
    cursor:pointer;
}
.green img {
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 250px;
    justify-content: center;
}
.red img {
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: 250px;
    justify-content: center;
}
.blue {
    background-color: white;
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 100px;
    justify-content: center;      
}
.blue h2{
    text-align: center;
}
.green {
    background-color: white;
    width: 47%;
    height: 350px;
    position: relative;
    margin-top: 100px;
    justify-content: center;     
}
.green p {
    margin: 10px;
}
.red {
    background-color: white;
    width: 30%;
    height: 350px;
    margin-top: 100px;
    justify-content: center;    
}
.red p {
    margin: 10px;
}
.block {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    display: flex;
}
.icon {
    display: block;
    width: 16px;
    height: 16px;
}
button {
    width: 400px;
    height: 50px;
    padding: auto;      
}
.mine {
    justify-content: center;  
    align-items: center; 
}
.button {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    background-color: none;
    border-radius: 30px;
    padding: 15px 20px ;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    align-items: center;    
}
.button:hover {
    background-color:blue;
    color: yellow;

}
h1 {
    position: relative;
    left: 100px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    position: absolute;
    color: yellow;
    font-size: 45px;
    top: 100px
       
}
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:wght@500&display=swap');
.menu {
    padding-top: 20px;
    padding-left: 20px;
    background-color: azure;
    width: 500px; height: 350px;
    position: relative;
    background-image: url(https://thk.kz/images/kaspi.jpg);
    background-size: cover;
    display: block;
    margin: 0 auto;
}
.kaspiA { 
    border: 3px solid black;
    padding: 10px 0px 10px 25px;
    border-radius: 30px;
    background-color: azure;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
}
.kaspiA:hover {
    background-color:aqua;
    color: greenyellow;

}
.right {
    transform: rotate(-45deg);
}
i { margin: 0px 15px 0px 410px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.container1 {
    margin: 0px;
    background-size: 100%;
    height: 300px;
    text-align: center;
    
}
.container1 div {
    margin-top: 40px;
}
.product{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    background-color: none;
    border-radius: 30px;
    padding: 15px 20px ;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}
.product:hover {
    background-color:greenyellow;
    color: pink;
}
.container{
    max-width: 495px;
    margin: 50px auto;
    display:grid;
    grid-template-columns: 1fr ;
    width: 100%;
}
.arrow{
    display: block;
    width: 16px;
    height: 16px;
}
.container img {
    position: relative;
    align-items: center;
}